{% extends 'blog/base.html' %}



{% block css %}
   @import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&subset=latin-ext');

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#posts::before{
    content: "";
    background:url(https://cdn.pixabay.com/photo/2020/09/18/19/31/laptop-5582775_960_720.jpg)  no-repeat center center/cover;
    position: absolute;
    background-attachment: fixed;
    top:0px;
    right:0px;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    opacity: 0.8;
 }
img {
    width: 100%;
    vertical-align: middle;

}

.blog-item img {
  display: block;
}

.blog-item a {
    display: flex;
    padding: 20px;
    overflow: hidden;
    align-items: center;
    max-width: 1000px;
    margin: auto;
    color: #333;
    background-color:white;
    opacity:0.9;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    border-radius: 6px;
    margin-bottom: 50px;
    text-decoration: none;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.blog-item a:hover {
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.blog-item .icon {
    width: 25%;
    object-fit: cover;
    margin-right: 50px;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 15px 26px rgba(0, 0, 0, 0.4);
}

.blog-item .content {
    width: 65%;
}

.blog-item .content .title {
    font-size: 21px;
    text-transform: capitalize;
    color: #25aae1;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
}



.blog-item .content .title .blog-date {
    font-size: 12px;
    margin-left: 20px;
    color: #333;
    font-family: 'Lato', sans-serif;
}

.blog-item .content .title .blog-date:before {
    content: '/';
    color: #2bb673;
    font-size: 25px;
    top: auto;
    position: relative;
    margin-right: 10px;
}

.blog-item .content .rounded {
    margin-left: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.blog-item .item-arrow {
    height: 20px;
    width: 15%;
    position: relative;
    text-align: center;
    font-size: 35px;
    left: 0;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.blog-item a:hover > .item-arrow {
    /*padding-left: 40px;*/
    color: #25aae1;
    left: 30px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.rounded {
    width: 70px;
    height: 5px;
    border-radius: 6px;
    background-image: linear-gradient(to right, #25aae1, #40e495);
    /* background: #2bb769; */
    margin-left: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}
.posts .find{
  display:flex;
  flex-direction:row;
  justify-content:space-evenly;
  margin-bottom:20px;
}
.posts .find .findtext{
  width:40%;
  padding-top:12px;
}
.posts .find .findform{
  width:40%;
   border-bottom:2px solid black;
   justify-content:space-evenly;
   display:none;
}
.posts .find .findform input{
  border:0px;
  background-color:transparent;  width:75%;
  vertical-align:center;
  align-self:center;
  margin-top:12px;
  font-size:1.5rem;
}
.posts .find .findform input:focus{
  outline-width:0px;
}
.posts .find .findform input::placeholder{
   color:  white;
   font-size:1.5rem;
}
@media screen and (max-width: 768px){
     .posts .find {
         flex-direction:column;
      }
      .posts .find .findtext{
         width:80%;
         text-align:center;
         margin:auto;
      }
      .posts .find .findform{
          width:80%;
          margin:auto;
       }
    .blog-item .content {
        width: 100%;
        margin-top: 35px;
    }

    .blog-item .content .title {
        font-size: 18px;
    }

    .blog-item .item-arrow {
        margin: auto;
    }

    .blog-item .icon {
        width: 100%;
    }

    .blog-item .icon img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .blog-item {
        width: 80%;
        margin: auto;
    }

    .blog-item a {
        display: block;
        padding: 30px;
    }

}




{% endblock css %}
{% block body %}
<section class="posts" id="posts" style="padding-top:80px; ">
 <div class="find" ">
     <div class="findtext">
         <h3 style="letter-spacing: 0.25rem; color: #7a7a7a!; text-align:center;">HAVE A GOOD READ</h3>
     </div>
    <div class="findform" style=" letter-spacing: 0.25rem;  ">
         <input type="text"  placeholder="SEARCH HERE">
     </div>
 </div>
    <div class="postscon" style="background-color:white; padding:20px;">
      {% for post in allPosts  %}
<div class="blog-item">
    <a href="/blog/{{post.slug}}">
        <div class="icon">
            <img src="{{post.link}}" alt="">
        </div>
        <div class="content">
            <div class="title">{{post.title}} <span class="blog-date">{{post.timeStamp}}</span><span class="blog-date"><b>{{post.author}}</b> read</span></div>
            <div class="rounded"></div>

            <p>
                {{post.content| truncatechars:200}}
            </p>
        </div>

        <div class="item-arrow">
            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
        </div>
    </a>
</div>
        {% endfor %}
    </div>
</section>
{% endblock body %}
{% block script %}

{% endblock script %}